.banner1 {
    min-height: 80vh;
    background-image: url('https://plus.unsplash.com/premium_photo-1664301135901-383935f2104f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHBsdW1iZXJzfGVufDB8fDB8fHww');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}